

body {
  background-color: #d9d9d9;
}

.lead {
  font-style: italic;
}

.card-img-top {
  padding: 10px;


}

.card-text, .card-title {
  margin: 25px;
}

.btn {
  color: black;

}

.box-model {
  background-color: grey;
  border: 2px solid grey;
  margin: 0;
}

.box-model img {
  padding: 10px auto;
  margin: 25px 25px auto;
  float: left;
  clear: both;
  border-radius: 5%;

}



.float p {
  padding: 25px;
  margin: 25px auto;
}
